<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tamagotchi!</title>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

  <div class="headersDiv">
    <h1>Tamagotchi Details: </h1>
    <h2>Name: @Model.Name</h2>
  </div>
  
  <div class="contentDiv">
    <img class="tamagotchiHolder" src='~/img/blue.png' />
    <div class="list-container">

      <p>Dead? @Model.Die
        <br />
        Food Level: @Model.Food
        <br />
        Attention Level: @Model.Attention
        <br />
        Sleep Level: @Model.Rest
      </p>

      <svg class="menuCharacters" width="80" height="80" viewBox="0 0 4.233333 4.2333332" version="1.1" id="svg1"
        xml:space="preserve" sodipodi:docname="Unnamed document 1"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
        <sodipodi:namedview id="namedview1" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0"
          inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0"
          inkscape:deskcolor="#d1d1d1" inkscape:document-units="mm" showgrid="true" inkscape:lockguides="true"
          showguides="true">
          <inkscape:grid id="grid1" units="px" originx="0" originy="0" spacingx="0.26458333" spacingy="0.26458333"
            empcolor="#3f3fff" empopacity="0.25098039" color="#3f3fff" opacity="0.1254902" empspacing="5" dotted="false"
            gridanglex="30" gridanglez="30" visible="true" />
          <sodipodi:guide position="2.6458332,3.9687499" orientation="0,-1" id="guide1" inkscape:locked="true" />
          <sodipodi:guide position="2.6458332,3.4395832" orientation="0,-1" id="guide2" inkscape:locked="true" />
        </sodipodi:namedview>
        <defs id="defs1" />
        <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(64.029167,-80.697914)">
          <path id="rect2" style="fill:#000000;stroke-width:0.127;stroke-linecap:round;paint-order:markers fill stroke"
            d="m -62.970802,80.962497 c 0,0.08819 0,0.176389 0,0.264583 -0.08819,0 -0.176389,0 -0.264583,0 0,0.176389 0,0.352778 0,0.529167 0.08992,0 0.179834,0 0.269751,0 0,0.176389 0,0.352778 0,0.529167 -0.01216,0.07777 -0.0017,0.178141 -0.0052,0.264583 0.08785,0 0.1757,0 0.26355,0 0,0.08819 0,0.176389 0,0.264583 0.08854,0 0.177078,0 0.265617,0 0,-0.08819 0,-0.176389 0,-0.264583 -0.08819,0 -0.176389,0 -0.264583,0 0,-0.08819 0,-0.176389 0,-0.264583 0.706584,6.95e-4 1.410094,-0.0017 2.116666,-0.001 0,-0.176044 0,-0.352089 0,-0.528133 0.08733,0 0.174667,0 0.262,0 0,-0.176389 0,-0.352778 0,-0.529167 -0.08733,0 -0.174667,0 -0.262,0 0,-0.08819 0,-0.176389 0,-0.264583 -0.174322,0 -0.348643,0 -0.522965,0 0,0.08819 0,0.176389 0,0.264583 -0.09026,0 -0.180523,0 -0.270785,0 0,0.176389 0,0.352778 0,0.529167 -0.08819,0 -0.176389,0 -0.264583,0 0,0.08819 0,0.176389 0,0.264583 -0.08818,0 -0.176367,0 -0.264551,0 0,-0.08819 0,-0.176389 0,-0.264583 -0.0894,0 -0.178801,0 -0.268201,0 0,-0.176389 0,-0.352778 0,-0.529167 -0.08613,0 -0.172255,0 -0.258382,0 0,-0.08819 0,-0.176389 0,-0.264583 -0.17725,-1.1e-5 -0.354501,-2.3e-5 -0.531751,-3.4e-5 z m 0,1.5875 c -0.08819,0 -0.176389,0 -0.264583,0 0,0.176389 0,0.352778 0,0.529167 -0.08819,0 -0.176389,0 -0.264583,0 0,0.176389 0,0.352777 0,0.529166 0.08819,0 0.176389,0 0.264583,0 0,0.0882 0,0.176389 0,0.264584 0.08819,0 0.176389,0 0.264583,0 0,-0.0882 0,-0.176389 0,-0.264584 0.0882,0 0.176389,0 0.264584,0 0,-0.176389 0,-0.352777 0,-0.529166 -0.0882,0 -0.176389,0 -0.264584,0 0,-0.176389 0,-0.352778 0,-0.529167 z m 0,1.322917 c 0,0.08888 0,0.177767 0,0.26665 0.08785,0 0.1757,0 0.26355,0 0,0.08871 0,0.177423 0,0.266134 -0.08785,0 -0.1757,0 -0.26355,0 0,0.08699 0,0.173977 0,0.260966 0.264583,0 0.529167,0 0.79375,0 0,-0.08699 0,-0.173977 0,-0.260966 0.440972,0 0.881945,0 1.322917,0 0,0.08613 0,0.172255 0,0.258382 0.08819,0 0.176389,0 0.264583,0 0,-0.263722 0,-0.527444 0,-0.791166 -0.176389,0 -0.352777,0 -0.529166,0 0,0.08819 0,0.176389 0,0.264583 -0.529511,0 -1.059023,0 -1.588534,0 0,-0.08819 0,-0.176389 0,-0.264583 -0.08785,0 -0.1757,0 -0.26355,0 z m 2.38125,0 c 0.08819,0 0.176389,0 0.264584,0 0,-0.0882 0,-0.176389 0,-0.264584 0.08819,0 0.176389,0 0.264583,0 0,-0.176389 0,-0.352777 0,-0.529166 -0.08819,0 -0.176389,0 -0.264583,0 0,-0.176389 0,-0.352778 0,-0.529167 -0.08819,0 -0.176389,0 -0.264584,0 0,0.440972 0,0.881945 0,1.322917 z m 0,-1.322917 c 0,-0.08819 0,-0.176389 0,-0.264583 -0.08819,0 -0.176389,0 -0.264583,0 0,0.08819 0,0.176389 0,0.264583 0.08819,0 0.176389,0 0.264583,0 z m -0.264583,0 c -0.08819,0 -0.176389,0 -0.264583,0 0,0.08819 0,0.176389 0,0.264583 0.08819,0 0.176389,0 0.264583,0 0,-0.08819 0,-0.176389 0,-0.264583 z m -1.322917,0.264583 c 0,0.08819 0,0.176389 0,0.264584 0.264583,0 0.529167,0 0.79375,0 0,-0.08819 0,-0.176389 0,-0.264584 -0.264583,0 -0.529167,0 -0.79375,0 z" />
        </g>
      </svg>
    </div>
    <div class="tamagotchiButtonHolderA">
      <form action="/tamagotchi/@Model.Id/feed" method="post">
        <button type="submit" name="button">Feed Me!</button>
      </form>
      <form action="/tamagotchi/@Model.Id/rest" method="post">
        <button type="submit" name="button">Nap time!</button>
      </form>
    </div>
    <div class="tamagotchiButtonHolderB">
      <form action="/tamagotchi/@Model.Id/play" method="post">
        <button type="submit" name="button">Play with Me!</button>
      </form>
    </div>
  </div>
  </div>

  <div class="">
    <p><a href='/tamagotchi/new'>Add a new item</a></p>
    <p><a href='/tamagotchi'>Return to Main Page</a></p>
  </div>


  @using TamagotchiProject.Models;

  
</body>

</html>